.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Fugaz One', cursive;
  margin: 2vh auto 2vh auto;
  width: 600px;
  height: 600px;
  background-image: linear-gradient(#8B2FC9, #310055);
  border-radius: 40px;
}

.card__image {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  margin: 0 auto 0 auto;
  box-shadow: 0px 0px 15px #FFF;
}

.card__links {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto 0 auto;
}

.card__link {
  text-decoration: none;
}

.card__link-icon {
  width: 50px;
  height: 50px;
}

.card__title {
  font-size: 50px;
  color: #fff;
  text-shadow: 0px 0px 15px #DC97FF;
  text-align: center;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 720px) {
  .card {
    width: 90vw;
    height: 90vw;
  }

  .card__title {
    font-size: 6vw;
  }

  .card__image {
    width: 65vw;
    height: 65vw;
  }

  .card__link-icon {
    width: 6.94vw;
    height: 6.94vw;
  }
}