.header {
  background: linear-gradient(#4A0A77, #AB51E3);
  text-align: center;
  min-height: 15vh;
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 15px #000;
}

.header__title {
  font-family: 'Foxbot';
  font-size: 7.81vw;
  color: #fff;
  text-shadow: 3px 3px 5px #000;
  margin: 3vh auto 2vh auto;
}

.header__title-span {
  color: #BD68EE;
}

@media screen and (max-width: 720px) {
  .header__title {
    font-size: 14vw;
  }
}